body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #bfcfe7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}
a {
  all: inherit;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
