@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gradient-bg {
  background: rgb(196, 217, 207);
  background: linear-gradient(
    90deg,
    rgba(196, 217, 207, 1) 0%,
    rgba(46, 130, 230, 1) 82%
  );
}
